@use 'mixins' as rwd;

.todo-list-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;

  @include rwd.media-breakpoint-down('md') {
    flex-direction: column;
    margin-top: 7rem;
  }
}

.new-task-wrapper {
  position: absolute;
  right: 5%;
  bottom: 5%;
  @include rwd.media-breakpoint-down('md') {
    top: 10%;
    left: 5%;
  }
}
