@use 'mixins' as rwd;

.loading-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.todo-list-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;

  @include rwd.media-breakpoint-down('md') {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.new-task-wrapper {
  position: absolute;
  right: 5%;
  bottom: 5%;
  @include rwd.media-breakpoint-down('md') {
    top: 11%;
    right: 5%;
  }
}
