<div class="d-flex align-items-e justify-content-between task-wrapper">
  <div class="task-content">
    <h5 class="task-content__title">{{ task?.title }}</h5>
    <p class="task-content__desc">{{ task?.desc }}</p>
  </div>
  <div class="task-actions">
    <button
      mat-icon-button
      [matMenuTriggerFor]="moreOptions"
      aria-label="Options of task"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreOptions="matMenu">
      <button mat-menu-item (click)="actionUpdate(task)">
        <mat-icon>edit</mat-icon>
        <span>{{ "actions.edit" | translate }}</span>
      </button>
      <button mat-menu-item (click)="actionRemove(task?.id)">
        <mat-icon>remove_circle_outline</mat-icon>
        <span>{{ "actions.remove" | translate }}</span>
      </button>
      <button
        *ngIf="task?.status !== 'todo'"
        mat-menu-item
        (click)="changeStatus(task, 'todo')"
      >
        <mat-icon>description</mat-icon>
        <span>{{ "actions.moveTodo" | translate }}</span>
      </button>
      <button
        *ngIf="task?.status !== 'inProgress'"
        mat-menu-item
        (click)="changeStatus(task, 'inProgress')"
      >
        <mat-icon>timeline</mat-icon>
        <span>{{ "actions.moveInProgress" | translate }}</span>
      </button>
      <button
        *ngIf="task?.status !== 'done'"
        mat-menu-item
        (click)="changeStatus(task, 'done')"
      >
        <mat-icon>done</mat-icon>
        <span>{{ "actions.moveDone" | translate }}</span>
      </button>
    </mat-menu>
  </div>
</div>
