@use 'variables' as var;
@use 'mixins' as rwd;

.navbar-wrapper {
  background-color: var.$main-violet;
  height: 85px;

  &__title {
    color: var.$main-white;

    & > h1 {
      @include rwd.media-breakpoint-down('md') {
        font-size: var.$font-32;
      }
    }
  }
}
