//

$main-black: #1d1d1d;
$main-white: #ffffff;

$main-yellow: #f5fc16;
$main-yellow-2: #efe805;
$main-yellow-3: #f0e905;
$main-yellow-4: #f0e905;
$main-yellow-5: #f5fc16;

$main-gray: #a1a1a1;
$main-gray-2: #4d4d4d;
$main-gray-3: #333333;
$main-gray-3b: #595959;
$main-gray-4: #666666;
$main-grey-5: #c3c3c3;
$main-grey-6: #d5d5d5;
$main-grey-7: #f7f7f7;
$main-grey-8: #808080;
$main-grey-9: #cccccc;
$main-grey-10: #f8f9fa;
