//if there is need for any other font-size you can use
//https://www.ninjaunits.com/converters/pixels/pixels-rem/
//with default set to 16px

$font-8: 0.5rem;
$font-9: 0.5625rem;
$font-10: 0.625rem;
$font-11: 0.6875rem;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-19: 1.1875rem;
$font-20: 1.25rem;
$font-21: 1.3125rem;
$font-22: 1.375rem;
$font-23: 1.4375rem;
$font-24: 1.5rem;
$font-25: 1.5625rem;
$font-26: 1.625rem;
$font-27: 1.6875rem;
$font-28: 1.75rem;
$font-29: 1.8125rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-33: 2.0625rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
$font-41: 2.5625rem;
$font-42: 2.625rem;
$font-48: 3rem;
$font-49: 3.0625rem;
$font-50: 3.125rem;
$font-51: 3.1875rem;
$font-55: 3.4375rem;
$font-56: 3.5rem;
$font-60: 3.75rem;
