$grid-breakpoints: (
  mms: 0,
  mms-sm: 576px,
  mms-md: 768px,
  mms-lg: 992px,
  mms-xl: 1200px,
  mms-xxl: 1600px,
);

$container-max-widths: (
  mms-sm: 540px,
  mms-md: 720px,
  mms-lg: 960px,
  mms-xl: 1140px,
  mms-xxl: 1540px,
);
