@use './styles/variables/index' as *;
@use './styles/mixins/index' as *;
@import "./styles/index";

body {
  height: calc(100vh - 85px);
  background-color: $main-grey-7;
  color: $main-black !important;
  font-size: $font-16 !important;
  font-family: $font-family-poppins-regular;
  font-weight: normal;
}

.white-icon {
  color: $main-white;
}

.cursor-pointer {
  cursor: pointer;
}
